.calculadora{
    padding: 10px;
    background: rgba(129, 235, 152, 0.534);
    width: 200px;
    border-radius: 20px;
}
.listaMensal{
    padding: 10px;
    background: rgba(3, 236, 53, 0.534);
    width: 200px;
    border-radius: 20px;
}
.calculadora input {
    background: rgb(1, 7, 26);
    color: white;
    border-radius: 7px;
}
.spResul {
    background: rgba(21, 21, 153, 0.24);
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 5px;
    border-radius: 15px;

}

#btnCalc{
 width: 50px;
 padding: 5px;
 background-color: rgb(131, 245, 156);
 margin-top: 15px;   
}
#btnCalc:hover{
    background-color: rgb(22, 247, 34);
    
}


